<% if user_signed_in? %>
  <div><%= link_to 'New Question', new_question_path, class: "btn btn-primary float-right" %>
  </div>
<br>
<% end %>
<%if @questions.empty? %>
  <div class="card">
    <div class="card-header">
    <p>No Questions... please add</p>
    </div>
  </div>
<%else%>
  <% @questions.each do |question| %>
    <div class="card">
      <div class="card-header">
        <%= link_to question.question, question %>
      </div>
      <div class="card-header">
        
        Asked by: <%= question.user.email %>

        <p>Tags: <%= raw(question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
 
      </div>
    </div>
  <% end %>
<% end %>