<div><%= link_to 'New Question', new_question_path, class: "btn btn-primary float-right" %>
</div>
<br>

<%if @questions.empty? %>
  <div class="card">
    <div class="card-header">
    <p>No Questions... please add</p>
    </div>
  </div>
<%else%>
  <% @questions.each do |question| %>
    <div class="card">
      <div class="card-header">
        <%= link_to question.question, question %>
      </div>
      <div class="card-header">
        
        Asked by: <%= question.user.email %>

      </div>
    </div>
  <% end %>
<% end %>