<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <% if user_signed_in? %>
        <%= current_user.email %>   
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>        
        <% else %>
          <%= link_to('Sign In', new_user_session_path, class: "btn btn-primary")  %>  
        <% end %>
    </ul>
  </nav>
  <%= link_to root_path, class: "navbar-brand" do %>
   <h3 class="text-muted"><strong>Ask</strong><em class="italic">Away</em></h3>
</div>
  <% end %>
